nav {
    background-color: #000;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    flex-grow: 1;
}

a {
    display: block;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #333;
}

.active,
a:hover {
    color: yellow;
    border-bottom-color: yellow;
}

.home__selected {
    background-color: darkcyan;
}

.news__selected {
    background-color: slateblue;
}

.contact__selected {
    background-color: darkslategray;
}

section {
    padding: 20px 0;
    text-align: center;
    background-color: #333;
    height: 50vh;
    color: #fff;
}